{% extends "halls/base.html" %}
{% load static %}

{% block additional_styling %}
	<!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'halls/halls-home/css/style.css' %}">
    <!-- Responsive-->
    <link rel="stylesheet" type="text/css" href="{% static 'halls/halls-home/css/responsive.css' %}">
    <!-- fevicon -->
    <link rel="icon" href="{% static 'halls/halls-home/images/fevicon.png' %}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'halls/halls-home/css/jquery.mCustomScrollbar.min.css' %}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <style>
        .bg-image{
            background-image: url( "{% static 'halls/halls-home/images/banner2.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;  
            background-position: top;
            background-attachment: fixed;
        }
        .works-section{
	     position:absolute;
	     top:800px;
	     left:-20px;
	     width:101.5%;
	     padding:3em 0;
	     background:#2e3e4e;
	     
		}

		.works-header{
		     text-align: center;
		     width: 85%;
		     margin: 0 auto;
		}
		.works-header h3
		{
		     font-size: 2.5em;
		     font-family: 'Arvo', serif;
		     text-transform: uppercase;
		     font-weight: 400;
		     color: #ef664d;
		}
		.works-header h3 span {
		     color: #fefefe;
		}
		.works-header p{
		     line-height: 1.5em;
		     font-size: 20px;
		     color: #fefefe;
		     padding: 25px 0;
		}
    </style>
{% endblock %}

{% block content %}
	<div class="main-layout">
		<!-- loader  -->
	    <div class="loader_bg">
	        <div class="loader"><img src="{% static 'halls/halls-home/images/loading.gif' %}" alt="#" /></div>
	    </div>

	    <!-- end loader -->
	    <!-- header -->
	    <header>
	        <!-- header inner -->
	        <div class="header-top">
	            <div class="header">
	                <div class="container-fluid">
	                    <div class="row">
	                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
	                            <div class="full">
	                                <div class="center-desk">
	                                    <div class="logo">
	                                        <a href="{% url 'halls-home' %}"><img src="{% static 'halls/halls-home/images/logo.png' %}" alt="#" /></a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                <ul class="top_icon">
                                	{% if user.is_authenticated %}
                                		<li class="signup"> <a href="{% url 'acc-logout' %}">Logout</a> </li>
                                		{% if user.is_admin == "True" %}
                                			<li class="signup"> <a href="{% url 'all-applications' %}">Applications</a> </li>
                                		{% else %}
                                			<li class="signup"> <a href="{% url 'acc-profile' %}">My Applications</a> </li>
                                			<li class="signup"> <a href="{% url 'all-applications' %}">All Applications</a> </li>
                                		{% endif %}
                                	{% else %}
	                                    <li class="button_login"> <a href="#">Login</a> 
										   <div class="sub-menu-1">
											    <ul>
												    <li><a href="{% url 'acc-admin-login' %}">As Admin</a></li><br>
													<li><a href="{% url 'acc-student-login' %}">As Student</a></li>
												</ul>
										    </div>
										</li>
	                                    <li class="signup"> <a href="{% url 'acc-student-register' %}">Sign up</a> </li>
	                                {% endif %}
                                </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!-- end header inner -->

	            <!-- end header -->
	            <section class="slider_section">
	                <div class="banner_main">
	                    <div class="container-fluid">
	                        <div class="row">
	                            <div class="col-md-2 padding_left0">
	                                <div class="menu-area">
		                                <div class="limit-box">
		                                    <nav class="main-menu">
		                                        <ul class="menu-area-main">
		                                            <li class="active"> <a href="{% url 'halls-home' %}">Home</a> </li>
		                                            <li> <a href="#">Auditorium Halls</a> 
													    <div class="sub-menu">
														    <ul>
															    <li><a href="{% url 'hall-1' %}">Mini-Audi</a></li>
																<li><a href="{% url 'hall-2' %}">AG-01</a></li>
																<li><a href="{% url 'hall-3' %}">AG-02</a></li>
															</ul>
													    </div>
													</li>
		                                            <li> <a href="#work">About</a> </li>
		                                           
		                                        </ul>
		                                    </nav>
		                                </div>
	                            	</div>
	                            </div>
	                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
	                                <div class="text-bg">
	                                    <h1>International Institute of Information Technology, Bhubaneswar</h1>
	                                    <span>Auditorium Hall Booking</span>
	                                    {% if user.is_authenticated %}
	                                    	<a href="{% url 'application-create' %}">Apply now</a>
	                                    {% else %}
	                                    	<a href="{% url 'acc-student-login' %}">Apply now</a>
	                                    {% endif %}
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	        
	           </section>
	        </div>
	    </header>
	    <div class="works-section" id="work" id="work">
		   <div class="works-header">
				<h3>ABOUT(DESIGNED BY-)</h3>
					<p>POTNURU SAMANVI(B119039)<br>SHRUTI AGRAWAL(B119053)<br>NIRALI SAHOO(B419035)</p>
			</div>
    	</div>
	</div>
{% endblock %}

{% block additional_scripts %}
	<script src="{% static 'halls/halls-home/js/jquery.min.js' %}"></script>
	<script src="{% static 'halls/halls-home/js/popper.min.js' %}"></script>
	<script src="{% static 'halls/halls-home/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'halls/halls-home/js/jquery-3.0.0.min.js' %}"></script>
	<script src="{% static 'halls/halls-home/js/plugin.js' %}"></script>
    <!-- sidebar -->
	<script src="{% static 'halls/halls-home/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
	<script src="{% static 'halls/halls-home/js/custom.js' %}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
{% endblock %}
