{% extends "halls/base.html" %}
{% load static %}
{% block additional_styling %}

	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style2.css' %}">
    <style>
        .bg-image{
            background-image: url( "{% static 'accounts/img/form.png' %}");
            background-repeat: no-repeat;
            background-size: cover;  
            background-position: top;
            background-attachment: fixed;
        }
        #login-box {
		  border-radius:20px;
		  position: relative;
		  margin: 9% auto;
		  width: 400px;
		  height: 700px;
		  background: #FFF;
		  border-radius: 2px;
		  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
		}
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
	<!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'halls/applications/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'halls/applications/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'halls/applications/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'halls/applications/slick/slick-theme.css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'halls/applications/css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'halls/applications/css/templatemo-dream-pulse.css' %}">

{% endblock %}

{% block content %}
	<div id="login-box">
		<div class="left">
			<form action="{% url 'acc-admin-register' %}" method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mt-1 pb-3">Register</legend>
					{{ form }}
				</fieldset>

				<div class="form-group mb-1">
	                <button type="submit" class="btn rounded-0 d-block ml-auto tm-btn-primary">
	                    Sign Up
	                </button>
	            </div>
			</form>

			<div class="border-top pt-3">
				<small class="text-muted">
					Already have an account? <a class="ml-2" href="{% url 'acc-admin-login' %}">Login</a>
				</small>
			</div>
		</div>
	</div>
{% endblock %}