{% extends "halls/base.html" %}
{% load static %}

{% block additional_styling %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
	<!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'halls/applications/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'halls/applications/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'halls/applications/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'halls/applications/slick/slick-theme.css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'halls/applications/css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'halls/applications/css/templatemo-dream-pulse.css' %}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'halls/halls-home/css/style.css' %}">
    <style>
      #whitebg {
        background-color: #fff;
        min-height: 100vh;
      }
    </style>
    
{% endblock %}

{% block content %}
<main class="container-fluid">
	<div class="row">
		<nav id="tmSidebar" class="tm-bg-black-transparent tm-sidebar">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <div class="tm-sidebar-sticky">
              	<div class="tm-brand-box">
              		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <img src="{% static 'halls/halls-home/images/logo.png' %}" alt="#" />
                                </div>
                            </div>
                        </div>
                    </div>
              	</div>

              	<ul id="tmMainNav" class="nav flex-column text-uppercase text-right tm-main-nav">
              		<li class="nav-item">
                  		<a href="{% url 'halls-home' %}" class="username">
                    		<span class="d-inline-block mr-3">{{ user.username }}</span>
                  		</a>
                	</li>
                    <li>
                        <small><a href="{% url 'acc-profile-update' %}" class="update-btn">Update Profile</a></small>
                    </li>
                	<li class="nav-item">
                  		<a href="{% url 'halls-home' %}" class="nav-link">
                    		<span class="d-inline-block mr-3">Home</span>
                    		<span class="d-inline-block tm-white-rect"></span>
                  		</a>
                	</li>
                	<li class="nav-item">
                 		<a href="{% url 'hall-1' %}" class="nav-link">
                    		<span class="d-inline-block mr-3">Mini Audi</span>
                    		<span class="d-inline-block tm-white-rect"></span>
                  		</a>
                	</li>
                	<li class="nav-item">
                  		<a href="{% url 'hall-2' %}" class="nav-link">
                    		<span class="d-inline-block mr-3">AG-01</span>
                    		<span class="d-inline-block tm-white-rect"></span>
                  		</a>
                	</li>
                	<li class="nav-item">
                  		<a href="{% url 'hall-3' %}" class="nav-link">
                    		<span class="d-inline-block mr-3">AG-02</span>
                    		<span class="d-inline-block tm-white-rect"></span>
                  		</a>
                	</li>
                  <li class="nav-item">
                      <a href="{% url 'all-applications' %}" class="nav-link">
                        <span class="d-inline-block mr-3">All Applications</span>
                        <span class="d-inline-block tm-white-rect"></span>
                      </a>
                  </li>
                	<li class="nav-item">
                  		<a href="{% url 'acc-logout' %}" class="nav-link">
                    		<span class="d-inline-block mr-3">Logout</span>
                    		<span class="d-inline-block tm-white-rect"></span>
                  		</a>
                	</li>
              	</ul>
            </div>
        </nav>

        <main role="main" class="ml-sm-auto col-12">
        	<div class="tm-section-wrap bg-white" id="whitebg">
        	{% for application in applications %}
            {% if user.id == application.author.id %}
    	        	  <section class="row tm-section">
    	        			<div class="col-12">
    	                		<div class="w-100 tm-double-border-1 tm-border-gray">
    	                    		<div class="tm-double-border-2 tm-border-gray tm-box-pad">
    	                     	 		<div class="tm-gallery-wrap">
    	                     	 			<a href="{% url 'application-detail' application.id %}"><h2 class="tm-color-primary tm-section-title mb-4 ml-2">{{ application.name }}</h2></a>
    	                     	 			<h4>{{ application.author }}</h4>
    	                          			<p> <b>Hall:</b> {{ application.hall_name }} &nbsp;&nbsp;&nbsp;&nbsp;
            											<!-- <b>Purpose:</b> {{ application.purpose }} <br> -->
            											<b>Date:</b> {{ application.date }} <br><!-- 
            											<b>Start time:</b> {{ application.start_time}} &nbsp;&nbsp;&nbsp;&nbsp;
            											<b>End time:</b> {{ application.end_time}} <br> -->
            											{% if application.approve == 'y' %}
            												<b>Application Status:</b> Approved
            											{% else %}
            												<b>Application Status:</b> Pending
    											       {% endif %}
    	                     	 		</div>
    	                     	 	</div>
    	                     	 </div>
    						    </div>
    	        	  </section>
            {% endif %}
	        {% endfor %}
	    	</div>
        </main>
	</div>
</main>
{% endblock %}


{% block additional_scripts %}
	<script src="{% static 'halls/applications/js/jquery.min.js' %}"></script>
	<script src="{% static 'halls/applications/js/jquery.singlePageNav.min.js' %}"></script>
	<script src="{% static 'halls/applications/js/parallax.min.js' %}"></script>
	<script src="{% static 'halls/applications/js/slick.min.js' %}"></script>
	<script src="{% static 'halls/applications/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'halls/applications/js/templatemo-scripts.js' %}"></script>
{% endblock %}